**/.prettierrc
**/.gitignore
**/.classpath
**/.dockerignore
**/.env
**/.env.local
**/.env.production
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/charts
**/docker-compose*
**/compose*
**/build
**/dist
**/Dockerfile*
**/dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.y*ml
**/values.dev.y*ml
README.md
